{% extends 'base.html.twig' %}

{% block body_class %}dashboard{% endblock %}
{% block body %}
    <div class="container container--w1170">
        <ul class="breadcrumb">
            <li class="breadcrumb__item">Top Gainers</li>
        </ul>
        <dashboard />
{#        <patients-list-page />#}
    </div>
{% endblock %}
